/* About page styles */
.nav-links .about {
    color: var(--yellow);
}

header {
    margin-bottom: 50px;
}

.content h2 {
    font-weight: 800;
    color: #414141;
    margin-bottom: 1em;
}

.content p {
    font-weight: 400;
    color: #414141;
    line-height: 1.6;
    width: 100%;
}

.faq {
    margin: 50px auto 100px;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 800;
    color: #414141;
    padding: 15px;
    width: 100%;
    border: none;
}

.question:hover {
    cursor: pointer;
    color: var(--yellow);
}

.response {
    padding: 1em;
}

/* Arrow styles */
.arrow {
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    position: relative;
    margin: 0 1rem;
    z-index: 1;
}
.arrow span {
    top: 0.5rem;
    position: absolute;
    width: 0.75rem;
    height: 0.2rem;
    background-color: #414141;
    display: inline-block;
    transition: all 0.3s ease;
}
.arrow span:first-of-type {
    left: 0;
    transform: rotate(35deg);
}
.arrow span:last-of-type {
    right: 0;
    transform: rotate(-35deg);
}
.arrow.active span:first-of-type {
    transform: rotate(-35deg);
}
.arrow.active span:last-of-type {
    transform: rotate(35deg);
}

@media only screen and (max-width: 768px) {
    .content h2 {
        font-size: 1.75rem;
    }

    .content p {
        font-size: 1rem;
    }

    .about-section {
        width: 95%;
        margin: 0 auto;
    }

    .about-section img {
        width: 100%;
        border-radius: 50%;
        margin-bottom: 40px;
    }
    
    .about-section .content {
        background-color: #f0f0f0;
        padding: 15px;
        width: 100%;
    }

    .faq {
        width: 95%;
    }

    .question {
        font-size: 1.5em;
    }

    .response {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 768px) {
    .content h2 {
        font-size: 2rem;
    }

    .content p {
        font-size: 1.2rem;
    }

    .about-section {
        width: 75%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
    }

    .about-section img {
        width: 50%;
        border-radius: 50%;
    }
    
    .about-section .content {
        background-color: #f0f0f0;
        padding: 2em;
        width: 45%;
    }

    .faq {
        width: 60%;
    }

    .question {
        font-size: 1.75em;
    }

    .response {
        font-size: 1.2rem;
    }
}