.nav-links .contact {
    color: #928406;
}

.contact-page {
    width: 100%;
    margin: 0 auto;
}

/* Form styles */
.form-container .contact-heading {
    color: #928406;
    margin-bottom: 25px;
    font-weight: bold;
    display: block;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container label {
    margin-bottom: 5px;
}

textarea {
    resize: none;
    height: 80px;
    width: 100%;
}

.form-container input[type="text"], .form-container textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.form-container input[type="text"]:focus, .form-container textarea:focus {
    outline: none;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.05);
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.form-container input[type="submit"] {
    background-color: #2096fd;
    color: #f0f0f0;
    border: none;
    padding: 10px 20px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
}

.form-container input[type="submit"]:hover {
    background-color: #111;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

/* Informations styles */
.reach-us {
    height: 100%;
    background-image: url("../images/background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.reach-us .heading {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1em;
    color: #2096fd;
}

.contact-info {
    border: none;
    border-radius: 10px;
}

.contact-info h2 {
    font-size: 1.75rem;
    margin-bottom: 1.3em;
    font-weight: 750;
    color: #2096fd;
}

.contact-info p {
    color: #f0f0f0;
    font-size: 1.25em;
    margin-bottom: 1em;
}

/* Maps styles */
.maps-page {
    background-color: #414141;
    padding-bottom: 25px;
}

.maps {
    margin: 30px auto 50px;
    display: flex;
    width: 70%;
    justify-content: space-between;
}

.piscine {
    width: 470px;
}

.piscine .title {
    color: #f0f0f0;
    text-align: left;
    font-size: 1.25em;
    margin: 1em 0;
}

.map-frame {
    border: none;
    width: 100%;
    height: 300px;
    border-radius: 5px;
}

.copyright {
    margin-top: 1em;
}

.heading {
    color: #928406;
    padding-top: 75px;
    font-size: 1.75em;
    font-weight: 900;
    text-align: center;
}

/* Small devices (phones, large phones and portrait tablets, 768px and down) */
@media only screen and (max-width: 768px) { 
    .contact-page {
        flex-direction: column;
    }

    .form-container {
        background-color: #fff;
        padding: 15px;
        width: 95%;
        margin: 50px auto;
        border-radius: 30px;
        box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
    }

    .form-container .contact-heading {
        font-size: 1.75rem;
        width: fit-content;
        margin: 25px auto;
    }

    .form-container input[type="text"], .form-container textarea {
        background-color: #fff;
        border: 1px solid #f0f0f0;
    }

    .form-container input[type="submit"] {
        border-radius: 15px;
    }

    #contact-form {
        width: 100%;
        padding: 15px;
    }

    .maps {
        margin: 30px auto 50px;
        display: flex;
        flex-direction: column;
        width: 60%;
        justify-content: space-between;
    }

    .reach-us {
        width: 100%;
        background-image: none;
        background-color: #414141;
    }

    .contact-info {
        width: 80%;
        margin: 0 auto;
        padding: 50px 0;
        margin-bottom: calc(60px + env(safe-area-inset-bottom));
        margin-bottom: calc(60px + constant(safe-area-inset-bottom)); /* fallback for older iOS */;
    }

    .contact-info p {
        color: #f0f0f0;
    }
}

@media only screen and (min-width: 768px) {
    header {
        box-shadow: none;
    }

    .contact-page {
        display: flex;
        justify-content: space-between;
        /* align-items: center; */
        height: 100vh;
    }

    .form-container {
        background-color: #f0f0f0;
        padding: 0px 100px 40px 150px;
        width: 50%;
    }

    .form-container .contact-heading {
        font-size: 2rem;
        width: fit-content;
        margin: 50px auto;
    }

    .form-container input[type="submit"] {
        border-radius: 5px;
    }

    #contact-form {
        width: 70%;
        margin: 0 auto;
    }

    .reach-us {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60%;
        border-top-left-radius: 20px;
    }

    .contact-info {
        margin: 2em 2em 7em 5em;
        padding: 2em;
        width: 50%;
    }
}