/* Home page styles */
.home-page {
    background-image: url("/images/background2.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

/* First section: home styles */
.home-section {
    height: 75vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    width: 80%;
    margin: 0 auto;
}

.description {
    font-weight: 500;
    color: #f0f0f0;
    line-height: 2rem;
    padding-top: 150px;
}

#natation {
    font-weight: 1000;
    color: #928406;
    display: block;
    margin: 0.3em 0em;
}

.begin {
    padding: 1em 2em;
    font-weight: 600;
    border: none;
    transition: all 0.5s ease;
    margin-top: 1.5em;
}

.begin:hover {
    cursor: pointer;
}

/* Second section: option card styles */
.header-options {
    text-align: center;
    width: 80%;
    font-weight: 800;
    margin: 0 auto;
    padding: 2.5em 0 1.5em;
    color: #414141;
}

.options {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.option {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text {
    font-size: 1.2rem;
    font-weight: 500;
    color: #414141;
}

/* Small screens: phones and small tablets */
@media only screen and (max-width: 768px) {
    header {
        box-shadow: none;
    }

    .home .icon-name {
        color: #928406;
    }

    /* First section: home styles */
    .description {
        font-size: 1.7rem;
        font-weight: 500;
        width: 100%;
    }

    #natation {
        font-size: 4rem;
        font-weight: 1000;
    }

    .begin {
        background-color: #2096fd;
        color: #f0f0f0;
        font-size: 1.25rem;
        border-radius: 20px;
    }

    .begin:hover {
        color: #f0f0f0;
        background-color: #414141;
    }

    /* Second section: option card styles */
    .header-options {
        font-size: 1.75rem;
    }

    .options-desktop {
        display: none
    }

    .options {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .option {
        width: 100%;
        border-radius: 20px;
        padding: 15px;
        background-color: #fff;
        box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
    }

    .option img {
        width: 100%;
        border-radius: 10px;
        transition: all 0.5s ease;
    }

    .option .text {
        padding: 1em 5px;
    }

    .option .btn-more-info {
        width: 230px;
    }
}

/* Large screens: tablets and computers */
@media only screen and (min-width: 768px) {
    /* Navigation bar styles */
    header {
        box-shadow: none;
        background-color: transparent;
    }

    .nav-links .home {
        color: #928406;
    }

    .nav-links a {
        color: #f0f0f0;
    }
    
    /* First section: home styles */
    .description {
        font-size: 2rem;
        width: 50%;
    }

    #natation {
        font-size: 5rem;
    }

    .begin {
        background-color: #f0f0f0;
        font-size: 1.25rem;
        border-radius: 10px;
    }

    .begin:hover {
        color:#f0f0f0;
        background-color: #2096fd;
    }

    /* Second section: option card styles */
    .header-options {
        font-size: 2rem;
    }

    .options {
        display: flex;
        gap: 3em;
    }
    
    .options-mobile {
        display: none;
    }

    .option {
        width: 33%;
        border-radius: 20px;
        background-color: #d2d2d2;
    }

    .option img {
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        transition: all 0.5s ease;
    }

    .option:hover img {
        opacity: 50%;
    }

    .option:hover {
        background-color: #356d9c;
    }

    .option .text {
        padding: 1em 2em 1em;
    }

    .option:hover .text {
        color: #FFFFFF;
    }
}