/* Services styles */
.nav-links .services {
    color: #928406;
}

/* Small devices (phones, large phones and portrait tablets, 768px and down) */
@media only screen and (max-width: 768px) {
    .propositions-desktop {
        display: none;
    }

    .propositions-mobile h2 {
        text-align: center;
        font-size: 2rem;
        font-weight: 800;
        padding: 1em 0 1em;
        width: 90%;
        margin: 10px auto 0;
    }

    .card {
        width: 90%;
        border-radius: 30px;
        background-color: #fff;
        margin: 50px auto 50px;
        box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
    }

    .card img {
        width: 100%;
        border-radius: 30px;
        padding: 25px;
    }

    .content {
        padding: 10px 40px;
    }

    .content .title {
        font-size: 1.4em;
        font-weight: 800;
        margin-bottom: 25px;
    }

    .content .info {
        font-size: 1em;
        font-weight: 400;
        line-height: 1.3em;
        margin-bottom: 25px;
    }

    .content .map-frame {
        width: 100%;
        margin-bottom: 25px;
        border-radius: 10px;
        border: none;
    }
}

@media only screen and (min-width: 768px) {
    .propositions-mobile {
        display: none;
    }

    .propositions-desktop {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;
        width: 100%;
        margin: 2em auto;
    }

    .propositions-desktop h2 {
        font-size: 2.5rem;
        font-weight: 1000;
        padding: 2em 0em 0em;
        text-align: center;
    }

    .slide {
        width: 65%;
        display: flex;
        gap: 75px;
        align-items: center;
        height: 80vh;
        height: 80svh;
    }

    .slide img {
        width: 45%;
        border-radius: 20px;
    }

    .content .title {
        font-size: 1.75em;
        font-weight: 1000;
        margin-bottom: 2em;
    }

    .content .info {
        font-size: 1.3em;
        font-weight: 400;
        line-height: 1.3em;
        margin-bottom: 2em;
    }
}

